.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
    position: relative;
    width: auto;
    height: 100vh;
    background-image: url('./изображение_viber_2024-12-19_17-04-02-261.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.bell {
   
    cursor: pointer;
    position: absolute;
    right: 0;
}
.belll {
  
    cursor: pointer;
    animation: 0.15s linear 0s infinite alternate ring;
    position: absolute;
    right: 0;
}

.blockVideo {
  position: relative;
}
.wind, .win {
  width: 450px;
  position: absolute;
  right: -31px;
  top: 122px;

}

.video {
position: absolute;
width: 450px;
right: -63px;
top: 426px;
}

/* it is possible to animate multiple properties in a single animation */
@keyframes ring {
  from {
    width: 80px;
    height: 105px;
  }
  to {
    width: 100px;
    height: 120px;
  }
}

@media (max-width: 1220px) {
  .wind, .win {
  width: 450px;
  position: absolute;
  right: -87px;
  top: 77px;

}
.video {
  position: absolute;
    width: 450px;
    right: -176px;
    top: 340px;
    height: 360px;
}

}

@media (max-width: 1024px) {
  .wind, .win {
  width: 450px;
  position: absolute;
  right: -87px;
  top: 77px;

}
.video {
  position: absolute;
    width: 450px;
    right: -176px;
    top: 340px;
    height: 360px;
}

}
@media (max-width: 768px) {
  .wind, .win {
  width: 450px;
  position: absolute;
  right: 58px;
  top: 90px;

}
.video {
  right: 116px;
}
.wrapper {
  background-position: center right;
}

}

@media (max-width: 425px) {
  .wind, .win {
    right: -48px;
    top: 95px;
    width: 400px;
  }
.video {
  top: 339px;
  height: 360px;
 right: -114px;
  width: 400px;
    }
  .wrapper {
  background-position: center right;
}
  
}






