.wrapper {
    position: relative;
    width: auto;
    height: 100vh;
    background-image: url('./изображение_viber_2024-12-19_17-04-02-261.jpg');
    background-size: cover;
    z-index: 1;
}
.bell {
    max-width: 160px;
    max-height: 200px;
    cursor: pointer;
}
.belll {
    width: 160px;
    height: 200px;
    cursor: pointer;
    animation: 0.1s linear 0s infinite alternate ring;
}

/* it is possible to animate multiple properties in a single animation */
@keyframes ring {
  from {
    width: 160px;
    height: 200px;
  }
  to {
    width: 200px;
    height: 260px;
  }
}